// Editor Pick

.home-module-section {
    margin-bottom: 20px;
    padding: 20px 0;
    height: 100%;
    font-size: 0;

    .section-title {
        margin: 0 10px;
        font-weight: normal;
        line-height: 1.2em;
    }

    .section-title::after {
        display: block;
        margin: 5px auto;
        width: 20px;
        border-top: 3px solid #42B54A;
        content: "";
    }

    img {
        width: 100%;
        height: auto;
    }

    header {
        padding-bottom: 10px;
    }

    h2 {
        margin: 0;
        color: #666;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
    }

    h2::after {
        display: block;
        margin: 5px auto;
        width: 20px;
        border-top: 3px solid #42B54A;
        content: "";
    }

    .home-tableWrap {
        position: relative;
        display: table;
        box-sizing: border-box;
        margin: 0 auto;
        max-width: 430px;
        width: 100%;
        height: 100%;
    }

    .home-tableWrap__left {
        display: table-cell;
        float: left;
        width: 100%;
        height: 100%;
    }

    .home-bigBanner {
        display: block;
        overflow: hidden;
        margin-bottom: 10px;
        max-height: 332px;
        border: 1px solid #DEDEDE;
    }

    .home-smallBanner {
        display: block;
        overflow: hidden;
        max-height: 104px;
        border: 1px solid #DEDEDE;
    }

    .home-module-section__links {
        position: absolute;
        display: table-cell;
        box-sizing: border-box;
        width: 100%;
        height: 48%;
        border: 1px solid #DEDEDE;
        border-bottom: 5px solid #DEDEDE;
        background: #FFF;
    }

    .home-module-section__links ul {
        padding: 0;
        list-style: none;
    }

    .home-module--short .home-module-section__links {
        height: 63%;
    }

    .home-tableWrap__right {
        position: relative;
        display: table-cell;
        padding-left: 10px;
        width: 52%;
        height: 100%;
        vertical-align: top;
    }

    .home-module-section__linkTitle {
        margin-top: 20px;
        color: #666;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;

        @media (min-width: 420px) {
            font-size: 14px;
        }
    }

    .home-module-section__linkTitle::after {
        display: block;
        margin: 5px auto;
        width: 20px;
        border-top: 3px solid #FF5622;
        content: "";
    }

    .home-module-section__links a {
        color: #999;
        font-size: 12px;

        @media (min-width: 420px) {
            font-size: 13px;
        }
    }

    .home-module-section__links ul {
        margin-top: 20px;
    }

    .home-module-section__links ul li {
        margin-bottom: 10px;

        @media (min-width: 420px) {
            margin-bottom: 20px;
        }
    }

    .home-module-section__bannerTitle {
        position: absolute;
        top: 0;
        padding: 50px 10px;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 30px;
    }

    .home-module-section__bannerDetail {
        position: absolute;
        top: 0;
        max-height: 332px;
        width: 100%;
        height: 100%;
        color: #FFF;
        text-align: center;
    }

    .home-module-section__bannerDetail > div {
        position: absolute;
        bottom: 30px;
        width: 100%;
    }

    .pl-10 {
        padding-left: 10px;
    }

    .pr-10 {
        padding-right: 10px;
    }

    .mb-10 {
        margin-bottom: 10px !important;
    }

    .mt-10 {
        margin-top: 10px !important;
    }

    .relative {
        position: relative;
    }

    .row-fluid [class*=span]:first-child {
        margin-left: 0;
    }

    .row-fluid .span12 {
        width: 100%;
        *width: 99.94680851063829%;
    }

    .ta-center {
        text-align: center;
    }

    .home-text-orange {
        font-size: 13px;
    }
}

// Digital Goods Widget

#widget-dmw {
    padding: 0 10px !important;
}
