@import "base";

.modal__container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-max;
    overflow-y: auto;
    padding: 60px 0 120px;
    width: 100%;
    height: 100vh;
    background-color: $color-grey-5;
    -webkit-animation: MODAL-POP 0.2s; /* Safari 4+ */
    -moz-animation: MODAL-POP 0.2s; /* Fx 5+ */
    -o-animation: MODAL-POP 0.2s; /* Opera 12+ */
    animation: MODAL-POP 0.2s; /* IE 10+, Fx 29+ */

    .normal-text {
        font-weight: normal;
    }
}

.search-modal__box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-max;
    margin-bottom: 2px;
    padding: 10px 0;
    width: 100%;
    background-color: $color-white-primary;
}

.search-modal__form {
    position: relative;
    padding-left: 46px;
}

.search-modal__result-empty {
    color: rgba($color-black-primary, 0.54);

    h1 {
        margin: 0;
        padding: 14px 14px 9px;
        color: $color-grey-disabled-3;
        font-weight: 600;
        font-size: 12px;
    }
}

.search-modal__result-container {
    h1 {
        margin: 0;
        padding: 14px 14px 9px;
        color: $color-grey-disabled-3;
        font-weight: 600;
        font-size: 12px;
    }
}

.search-input__modal-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    display: block;
    width: 18px;
    height: 18px;
    background: url('./assets/mobile-icon-search-grey.png') transparent no-repeat;
    background-size: 18px 18px;
}

.search-input__modal-cancel {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 18px;
    display: block;
    width: 16px;
    height: 16px;
    background: url('./assets/search-modal-delete@2x.png') transparent no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    cursor: pointer;
}

.search-input__modal-input {
    padding: 0 32px 0 30px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 0;
    background-color: $color-white-primary;
    box-shadow: none;
    color: $color-black-secondary;
    text-align: left;
    font-size: 14px;
}

#search_modal_input::-webkit-input-placeholder {
    color: $color-grey-disabled-3 !important;
}

#search_modal_input:-moz-placeholder {
    color: $color-grey-disabled-3 !important;
}

#search_modal_input::-moz-placeholder {
    color: $color-grey-disabled-3 !important;
}

#search_modal_input:-ms-input-placeholder {
    color: $color-grey-disabled-3 !important;
}

.search-input__close {
    position: absolute;
    top: 21px;
    left: 16px;
    z-index: $z-index-max;
    display: block;
    width: 16px;
    height: 16px;
    background: url('./assets/mobile-icon-arrow-left-grey.png') transparent no-repeat;
    background-position: center center;
    background-size: 16px;
    color: $color-white-primary;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
}

.search-modal__result-item {
    display: block;
    overflow: hidden;
}

.search-modal__result-item {
    position: relative;
    padding: 0 0 0 14px;

    &:last-child {
        border-bottom: 0;
    }
}

.search-modal__result-item:last-child .search-modal__item-value {
    border-bottom: none;
}

.search-modal__result-item:last-child .search-modal__shop-name-line {
    display: none;
}

.search-modal__item-value {
    display: block;
    padding: 8px 8px 8px 0;
    width: 100%;
    color: $color-black-secondary;
    font-size: 14px;
    overflow-wrap: break-word;
    position: relative;
    border-bottom: 1px solid $color-grey-disabled;
    line-height: 1.4;

    span {
        font-weight: normal;
    }

    strong {
        font-weight: bold;
    }
}

.search-modal__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 18px;
    display: block;
}

.search-modal__item-label {
    width: 16px;
    height: 16px;
    background: url('./assets/official-store-icon.png') transparent no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.search-modal__result--history {
    position: relative;

    .search-modal__result-action {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        font-size: 14px;
    }

    .search-modal__result-item {
        position: relative;
        padding: 0 30px 0 0;

        &:last-child {
            border-bottom: 0;
        }
    }

    .search-modal__item-action {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        background: url('./assets/search-modal-delete@2x.png') transparent no-repeat;
        background-position: left center;
        background-size: 16px 16px;
    }

    .search-modal__icon {
        width: 15px;
        height: 15px;
        background: url('./assets/search-modal-icon-history.png') transparent no-repeat;
        background-size: 15px 15px;
    }
}

.search-modal__clear-history {
    position: absolute;
    top: 14px;
    right: 14px;
    display: block;
    color: $color-red;
}

.search-modal__keyword-result {
    max-width: 50% !important;
    vertical-align: middle;
    display: inline-block;
}

.search-modal__result-in-category {
    font-size: 11px;
    color: $color-grey-disabled-3;
    font-weight: 600;
}

.search-modal__result--shop,
.search-modal__result--popular_search,
.search-modal__result--autocomplete,
.search-modal__result--hotlist,
.search-modal__result--recent_search {
    background-color: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.search-modal__result--shop {
    img {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 20px;
        border-radius: 3px;
        vertical-align: middle;
        border: 2px solid $color-white-primary;
        box-shadow: 0 0 4px 2px $color-grey-2;
    }

    .search-modal__item-value {
        padding: 7px 14px 7px 0;
        border-bottom: none;
    }

    .search-modal__shop-name-line {
        position: absolute;
        width: 100%;
        bottom: -4px;
        left: 61px;
        border: none;
        border-bottom: 1px solid $color-grey-disabled;
    }

    .search-modal__icon {
        width: 13px;
        height: 13px;
        background: url('./assets/search-modal-icon-copy-to-top.png') transparent no-repeat;
        background-size: 13px 13px;
    }
}

.search-modal__result--autocomplete {
    .search-modal__icon {
        width: 13px;
        height: 13px;
        background: url('./assets/search-modal-icon-copy-to-top.png') transparent no-repeat;
        background-size: 13px 13px;
    }

    .search-modal__item-value {
        padding: 5px 5px 5px 0;
    }
}

.search-modal__result--hotlist {
    .search-modal__icon {
        width: 16px;
        height: 22px;
        background: url('./assets/search-modal-icon-hotlist.png') transparent no-repeat;
        background-size: 16px 22px;
    }
}

.search-modal__result--recent_search {
    position: relative;

    .search-modal__result-action {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        font-size: 14px;
    }

    .search-modal__result-item {
        position: relative;

        &:last-child {
            border-bottom: 0;
        }
    }

    .search-modal__item-action {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        background: url('./assets/search-modal-delete@2x.png') transparent no-repeat;
        background-position: left center;
        background-size: 16px 16px;
    }
}

.search-modal__tabs-holder {
    padding: 0;
    list-style: none;
    margin: 0 -10px;

    .search-modal__tabs {
        float: left;
        position: relative;
        text-align: center;
        width: 50%;

        a {
            display: block;
            padding: 10px;
            color: $color-grey-disabled-3;
        }

        a.active {
            color: $color-green;
            font-weight: 600;
            border-bottom: 3px solid $color-green;
        }
    }
}

@-webkit-keyframes MODAL-POP {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes MODAL-POP {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-o-keyframes MODAL-POP {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes MODAL-POP {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
