@import 'base';

.dp-seo__container {
    background: $color-white-primary;
    padding: 15px;

    .dp-seo__title {
        color: $color-black-disabled;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        text-align: center;

        &--sub {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
        }
    }

    .dp-seo__content {
        font-size: 13px;
        line-height: 20px;
    }
}
