@import 'base';

.seo {
    background: $color-white-primary;
    padding: 15px;

    .seo__title {
        color: $color-black-disabled;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
        text-align: center;

        &--sub {
            font-size: 13px;
            font-weight: 600;
            line-height: 20px;
            text-align: center;
        }
    }

    .seo__content {
        font-size: 13px;
        line-height: 20px;
    }
}

.links {
    background: $color-white-primary;
    padding: 15px;

    .links__group {
        margin-bottom: 30px;
    }

    .links__title {
        font-size: 13px;
        font-weight: 600;

        a {
            text-decoration: underline;
        }
    }

    .links__list {
        text-align: justify;
    }

    .links__a {
        color: $color-green;
        font-size: 13px;
        line-height: 20px;
    }
}
