@import "base";

.tab {
    position: relative;
    display: flex;
    background-color: $color-green;
    // box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    width:100%;
    // overflow-x:auto;
    // overflow:hidden;
    transform: translate3d(0px, 0px, 0px);
    transition: 0.4s ease-in-out;
}

.tab__inverted {
    .tab {
        border-bottom: 1px solid rgba($color-black-primary, 0.12);
        background-color: $color-white-primary;
        box-shadow: none;
    }

    .tab__link {
        color: rgba($color-black-primary, 0.38);

        &.tab__active {
            color: $color-green;
        }
    }

    .tab__pointer {
        background-color: $color-green;
    }
}

.tab__link {
    border-bottom: 2px solid transparent;
    color: $color-white-primary;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    opacity: 0.54;
    cursor: pointer;
    padding:11px 15px;
    white-space:nowrap;
    // overflow:hidden;

    &.tab__active {
        opacity: 1;
        border-bottom:2px solid #fff;
    }

    a {
        color: $color-white-primary;
    }
}

.tab__hidden {
    display: none;
}

#loggedin-tab{
    .slick-arrow {
        position: absolute;
        z-index: $z-index-3;
        display: block;
        width: 30px;
        height: 40px;
        margin-top:50px;
        &.mini{
            margin-top:23px;
        }
        &::before {
            position: absolute;
            top: -1px;
            width: 20px;
            height: 40px;
            content: '';
        }
    }

    .slick-arrow.slick-disabled {
        display: none !important;
    }

    .slick-prev {
        left: 0;
        background: linear-gradient(90deg, $color-green, rgba(66, 181, 73, 0.05)) !important;

        &::before {
            left: 5px;
            background: url('./assets/tab-arrow-left.png') transparent center center no-repeat;
            background-size: 15px 24px;
            opacity: 1;
        }
    }

    .slick-next {
        @media (max-width: 430px) {
            right: 0;
        }
        background: linear-gradient(-90deg, $color-green, rgba(66, 181, 73, 0.05)) !important;

        &::before {
            right: 5px;
            background: url('./assets/tab-arrow-right.png') transparent center center no-repeat;
            background-size: 15px 24px;
            opacity: 1;
        }
    }

    .slick-disabled::before {
        display: none;
    }
    .slick-track {
        opacity: 1; 
        transform: translate3d(0px, 0px, 0px); 
        width: 854.75px; 
        transition: -webkit-transform 500ms ease;
    }
}
