@import "base";

.tab {
    position: relative;
    display: flex;
    background-color: $color-green;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    width:auto;
    overflow-x:auto;
}

.tab__inverted {
    .tab {
        border-bottom: 1px solid rgba($color-black-primary, 0.12);
        background-color: $color-white-primary;
        box-shadow: none;
    }

    .tab__link {
        color: rgba($color-black-primary, 0.38);

        &.tab__active {
            color: $color-green;
        }
    }

    .tab__pointer {
        background-color: $color-green;
    }
}

.tab__link {
    // display: inline-flex;
    // flex-grow: 1;
    // justify-content: center;
    border-bottom: 2px solid transparent;
    color: $color-white-primary;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 40px;
    opacity: 0.54;
    cursor: pointer;
    padding:0 15px;
    white-space:nowrap;

    &.tab__active {
        opacity: 1;
        border-bottom:4px solid #fff;
    }
}

.tab__hidden {
    display: none;
}
