@import "base";

.tab__inverted {
    .tab {
        background: $color-white;
    }

    .tab__link {
        color: rgba(0, 0, 0, 0.54);

        &.tab__active {
            color: $color-green;
            font-weight: bold;
        }
    }

    .tab__pointer {
        background-color: $color-green;
    }
}

.tab {
    background: $color-green;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    position: relative;
}

.tab__link {
    border-bottom: 2px solid transparent;
    color: $color-white;
    display: inline-flex;
    flex-grow: 1;
    font-size: 12px;
    font-weight: normal;
    justify-content: center;
    line-height: 44px;
    opacity: 0.54;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &.tab__active {
        font-weight: bold;
    }
}

.tab__pointer {
    background-color: $color-white;
    display: block;
    height: 0.2em;
    margin-top: -0.2em;
    position: relative;
    transition: left 0.45s ease;
    z-index: 2;
}

.tab__hidden {
    display: none;
}
