@import 'base';

.hotlist {
    margin-bottom: 10px;
}

.hotlist .text-header {
    padding: 10px;
}

.hotlist__wrapper {
    position: relative;
    padding: 10px;
    max-width: 277px;
    height: 100%;
    border: 1px solid #EBEBEB;
    border-bottom: 5px solid #EBEBEB;
    border-radius: 2px;
    background: $color-white-primary;
    vertical-align: top;
    text-decoration: none;
    font-size: 14px;

    .hotlist--single-page & {
        margin: 0 auto 20px;
        max-width: 375px;
    }
}

.hotlist--single-page {
    padding-right: 10px;
    padding-left: 10px;
}

.hotlist__price {
    color: #E00000;
    white-space: nowrap;
}

.hotlist__name {
    color: $color-black-secondary;
}

.hotlist__start-from {
    color: $color-black-disabled;
    font-size: 12px;
}

.hotlist__click {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slick-slide.hotlist__item {
    padding: 0 0 0 10px;
}
