@import 'base';

.ticker {
    overflow-y: hidden;
    height: 0;
    color: $color-black-disabled;
    text-align: center;
    line-height: 4.857142857rem;
    padding: 10px 7px 0;
    display: table;
    width: 100%;
}

.ticer__active {
    height: 58px;
}

.ticker__container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 0 25px 0 0.714285714rem;
    word-break: break-word;
    font-size: 0.785714286rem;
    line-height: 1.5;
    width: 100%;
    height: 52px;
    position: relative;
    background-color: $color-white-primary;

    * {
        display: inline;
    }

    a {
        color: $color-green;
    }
}

.ticker {
    -webkit-transition: all 0.3s ease-in-out, padding 1ms;
    -moz-transition: all 0.3s ease-in-out, padding 1ms;
    transition: all 0.3s ease-in-out, padding 1ms;
}

.ticker__close {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 10;
    background: url('./assets/icon-right-grey-copy.svg') transparent no-repeat;
    background-size: 100%;
    cursor: pointer;
}

.ticker--general {
    border: 1px solid $color-green-soft;
    border-left-width: 3px;
    border-radius: 3px;
    // -webkit-transition: transform 0.5s ease-in-out;
    // -moz-transition: transform 0.5s ease-in-out;
    // transition: transform 0.5s ease-in-out;
}

.ticker--info {
    border: 1px solid $color-green-soft;
    border-left-width: 3px;
    border-radius: 3px;
}

.ticker--warning {
    border: 1px solid $color-yellow-soft;
    border-left-width: 3px;
    border-radius: 3px;
}

.ticker__hidden {
    height: 0 !important;
    padding: 0 !important;
    -webkit-transition: all 0.3s ease-in-out, padding 1ms;
    -moz-transition: all 0.3s ease-in-out, padding 1ms;
    transition: all 0.3s ease-in-out, padding 1ms;

    .ticker__container,
    .ticker--general {
        height: 0 !important;
        border: none !important;

        .ticker__close {
            display: none;
        }
    }
}
