@import 'base';

.ticker {
    display: table;
    overflow-y: hidden;
    padding: 10px;
    width: 100%;
    height: 6.28em;
    background-color: $color-tint;
    color: $color-black-disabled;
    text-align: center;
    font-size: 0.785em;
    line-height: 1.5;
}

.ticker__container {
    display: table-cell;
    vertical-align: middle;
    word-break: break-word;

    * {
        display: inline;
    }

    a {
        color: $color-green;
    }
}
