@import 'base';

.ticker {
    overflow-y: hidden;
    height: 4.857142857rem;
    background-color: $color-tint;
    color: $color-black-disabled;
    text-align: center;
    line-height: 4.857142857rem;
}

.ticker__container {
    display: inline-block;
    padding: 0.714285714rem;
    vertical-align: middle;
    word-break: break-word;
    font-size: 0.785714286rem;
    line-height: 1.5;

    * {
        display: inline;
    }

    a {
        color: $color-green;
    }
}

