@import 'base';

.header {
    position: relative;
    z-index: 1;
    background: $color-green;
}

.header__search-container {
    position: relative;
    padding: 10px 50px 0 10px;
}

.header__search-btn {
    position: absolute;
    top: 18px;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
}
