@import 'base';
@import '~normalize.css/normalize';
@import 'utilities';

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $color-grey-1;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::-webkit-input-placeholder {
    color: $color-black-secondary;
}

::-moz-placeholder {
    color: $color-black-secondary;
}

:-ms-input-placeholder {
    color: $color-black-secondary;
}

:-moz-placeholder {
    color: $color-black-secondary;
}

a {
    color: $color-black-primary;
    text-decoration: none;
}
