@import "./variables/colors";

.material__card {
    background-color: $color-white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 2vh;
    padding: 2vh 3vw;
    min-height: 200px;
}
