@import 'base';

.dp-operator__container {
    box-sizing: border-box;
    max-width: 960px;
    background: $color-white-primary;

    ul li {
        display: inline-block;
        margin: 0 5px;
        border: 1px solid #DDD;

        @media screen and (max-width: 500px) {
            margin-bottom: 15px;
            width: 13%;
        }

        img {
            width: 100%;
            vertical-align: middle;
            padding: 8px 5px;
        }
    }
}
