@import 'base';

.dp-links__container {
    background: $color-white-primary;
    padding: 15px;

    .dp-links__group {
        margin-bottom: 30px;
    }

    .dp-links__title {
        font-size: 13px;
        font-weight: 600;

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .dp-links__list {
        text-align: justify;
    }

    .dp-links__a {
        color: $color-green;
        font-size: 13px;
        line-height: 20px;
    }
}
