@import 'base';

.dp__container {
    border: 1px solid #EDEDED;
    background: #FBFBFB;
    box-shadow: none;

    h1 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.05em;
        line-height: 22px;
        padding: 0 20px;
        color: #333;
    }
}

.dp--lembaga {
    padding-top: 20px;
    margin-bottom: 20px;
}

.dp-lembaga-logo-list {
    margin-right: -10px;
    margin-left: -10px;
}

.dp-lembaga-tab-list {
    margin-bottom: 10px;
    padding: 0 20px;

    label {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 10px;
        color: #515151;
    }

    li {
        float: left;
        width: 50%;
        padding: 10px;
    }
}

.dp-lembaga-tab-logo {
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    background-color: #F4F4F4;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        opacity: 0.6;
        transition: all ease-in 0.5s;
        vertical-align: middle;
    }

    &:hover {
        border-color: $color-green;
        background-color: $color-white-primary;
    }

    &:hover > img {
        opacity: 1;
    }

    &.active {
        border-color: $color-green;
        background-color: $color-white-primary;
    }

    &.active > img {
        opacity: 1;
    }
}

.dp-lembaga-tab-content {
    padding: 0 20px;
}

.dp-lembaga-content {
    min-height: 105px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid $color-green;
    color: #4B4B4B;

    &-text {
        line-height: 17px;
        color: #4B4B4B;

        a {
            font-size: 11px;
            color: $color-green;
            cursor: pointer;
        }
    }
}

.dp__container {
    .dp--nominal {
        margin-bottom: 50px;
        padding: 0 20px;
    }

    .dp--buy {
        @media screen and (max-width: 640px) {
            float: none;
            clear: both;
        }

        a {
            font-size: 13px;
            font-weight: lighter;
        }
    }

    .dp__checkbox {
        position: relative;
        display: block;
        margin-bottom: 10px;

        label {
            min-height: 20px;
            font-size: 12px;
            font-weight: 400;
            cursor: pointer;
            color: #333;
        }
    }

    .dp__btn {
        width: 100%;
        margin-bottom: 5px;
        border: 0;
        border-radius: 2px;
        line-height: 2.5em;
        font-size: 16px;
        color: $color-white-primary;
        appearance: none;
        cursor: pointer;
    }

    .btn--orange {
        background: $color-orange;
    }

    .error-input {
        margin-top: 3px;
        color: $color-red;
        font-weight: 400;
    }

    .form-group label {
        font-size: 13px;
        font-weight: 400;
        color: #888;
    }

    .form-group .form-select {
        background: url(../assets/arrow-select.png) right 5px top 16px no-repeat;
        background-size: 12px 6px;
    }

    .form-control {
        display: block;
        cursor: pointer;
        font-size: 16px;
        height: 36px;
        color: #515151;
        padding: 5px 6px;
        width: 100%;
        outline: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #D3D3D3;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:focus {
            border-bottom: 1px solid $color-green;
            color: $color-green;
        }
    }

    .dp-checkbox input[type=checkbox]:checked + label > span {
        background: url(../assets/checkbox-checked.png) no-repeat transparent;
    }

    .dp__checkbox {
        display: block;

        label {
            cursor: pointer;
        }

        input[type='checkbox'] {
            display: none;

            &:checked + label > span {
                background: url(../assets/checkbox-checked.png) no-repeat transparent;
                background-size: 15px 15px;
            }
        }

        span {
            display: inline-block;
            margin-right: 3px;
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }

        .dp-checkbox {
            background: url(../assets/checkbox-empty.png) no-repeat transparent;
            background-size: 15px 15px;
        }
    }

    .trigger-tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: url(../assets/icon-info.png);
        background-size: 18px 18px;
        height: 18px;
        width: 18px;
        margin-left: 3px;
        vertical-align: middle;
    }

    .trigger-tooltip:hover .tooltip-container,
    .trigger-tooltip:focus .tooltip-container {
        display: block;
    }

    .trigger-tooltip .icon-info-alt {
        vertical-align: middle;
        font-size: 16px;
    }

    .tooltip-container {
        position: absolute;
        top: 13px;
        left: -100px;
        z-index: 1001;
        display: none;
        padding: 15px 0;
        max-width: 230px;
        width: 230px;
        text-align: center;
    }

    @media (min-width: 960px) {
        .tooltip-container {
            min-width: 230px;
            max-width: 768px;
            width: auto;
            white-space: nowrap;
        }
    }

    .tooltip-box {
        display: block;
        padding: 7px 11px;
        border: 1px solid #AAA;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 2px 1px 0 0 rgba(124, 120, 119, 0.3);
    }

    .tooltip-container.open {
        display: block;
    }

    .tooltip-box::before {
        position: absolute;
        top: -3px;
        left: 103px;
        z-index: 0;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom: 10px solid #AAA;
        content: '';
    }

    .tooltip-box::after {
        position: absolute;
        top: -1px;
        left: 103px;
        z-index: 0;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom: 10px solid white;
        content: '';
    }
}
