@import 'base';

.dp__container {
    border: 1px solid #EDEDED;
    background: #FBFBFB;
    box-shadow: none;
    padding: 15px;

    h1 {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.05em;
        line-height: 22px;
        color: #333;
    }
}

.dp--lembaga {
    padding-top: 20px;
    margin-bottom: 20px;
}

.dp-lembaga-logo-list {
    margin-right: -10px;
    margin-left: -10px;
}

.dp-lembaga-tab-list {
    margin-bottom: 10px;
    padding: 0;

    label {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 10px;
        color: #515151;
    }

    li {
        float: left;
        width: 50%;
        padding: 10px;
    }
}

.dp-lembaga-tab-logo {
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    background-color: #F4F4F4;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
        opacity: 0.6;
        transition: all ease-in 0.5s;
        vertical-align: middle;
    }

    &:hover {
        border-color: $color-green;
        background-color: $color-white-primary;
    }

    &:hover > img {
        opacity: 1;
    }

    &.active {
        border-color: $color-green;
        background-color: $color-white-primary;
    }

    &.active > img {
        opacity: 1;
    }
}

.dp-lembaga-tab-content {
    padding: 0 20px;
}

.dp-lembaga-content {
    min-height: 105px;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid $color-green;
    color: #4B4B4B;

    &-text {
        line-height: 17px;
        color: #4B4B4B;

        a {
            font-size: 11px;
            color: $color-green;
            cursor: pointer;
        }
    }
}

.dp__container {
    .dp--nominal {
        margin-bottom: 50px;
        padding: 0;
    }

    .error-input {
        margin-top: 3px;
        color: $color-red;
        font-weight: 400;
    }

    .form-group label {
        font-size: 13px;
        font-weight: 400;
        color: #888;
    }

    .form-group .form-select {
        background: url(../assets/arrow-select.png) right 5px top 16px no-repeat;
        background-size: 12px 6px;
    }

    .form-control {
        display: block;
        cursor: pointer;
        font-size: 16px;
        height: 36px;
        color: #515151;
        padding: 5px 6px;
        width: 100%;
        outline: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #D3D3D3;
        box-shadow: none;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        &:focus {
            border-bottom: 1px solid $color-green;
            color: $color-green;
        }
    }
}

.pt-12 {
    padding-top: 12px !important;
}
