@import "base";

.toast__container {
    position: fixed;
    width: 100%;
    bottom: -60px;
    margin: auto;
    text-align: center;
    z-index: 1;

    .toast__text {
        background: rgba(0, 0, 0, 0.8);
        margin: auto;
        padding: 10px 0;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 600;

        .toast__content {
            font-size: 12px;
            text-transform: capitalize;
            font-weight: normal;
        }
    }
}

@keyframes notif {
    0% {
        opacity: 0;
        bottom: -60px;
    }

    20% {
        opacity: 1;
        bottom: 60px;
    }

    80% {
        opacity: 1;
        bottom: 60px;
    }

    100% {
        opacity: 0;
        bottom: -60px;
    }
}
