@import "base";

.toast__container {
    bottom: -60px;
    margin: auto;
    position: fixed;
    text-align: center;
    transition: bottom 1000ms ease-in-out;
    width: 100%;
    z-index: 1;

    .toast__text {
        background: rgba(0, 0, 0, 0.8);
        color: $color-white;
        font-weight: 600;
        margin: auto;
        padding: 10px 0;
        text-transform: uppercase;

        .toast__content {
            font-size: 12px;
            font-weight: normal;
            text-transform: capitalize;
        }
    }
}

@keyframes notif {
    0% {
        bottom: -60px;
        opacity: 0;
    }
}
