@import "base";

.toast__container {
    position: fixed;
    bottom: -60px;
    z-index: 1;
    margin: auto;
    width: 100%;
    text-align: center;
    transition: bottom 1000ms ease-in-out;

    .toast__text {
        margin: auto;
        padding: 10px 0;
        background: rgba(0, 0, 0, 0.8);
        color: $color-white-primary;
        text-transform: uppercase;
        font-weight: 600;

        .toast__content {
            text-transform: capitalize;
            font-weight: normal;
            font-size: 12px;
        }
    }
}

@keyframes notif {
    0% {
        bottom: -60px;
        opacity: 0;
    }
}
