@import 'base';

.search-input {
    position: relative;
}

.search-input__input {
    padding: 13px 13px 13px 31px;
    height: 42px;
    border: 0;
    border-radius: 2px;
    background-color: #FFF;
    color: #000;
    font-size: 12px;
}

.search-input__icon {
    position: absolute;
    top: 12px;
    left: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('./assets/search-input-icon@2x.png') transparent no-repeat;
    background-size: 16px 16px;
}

#autocomplete__container {
    position: absolute;
    z-index: 99999;
    top: 42px;
    left: 0;
    background-color: #FFF;
    width: 100%;
    border-top: 1px solid rgba(66, 181, 73, 0.75);
    font-size: 1.25em;
}

.autocomplete__category {
    h6 {
        background: #F7F7F7;
        color: #AAA;
        font-style: italic;
        font-size: 12px;
        font-weight: bold;
        margin: 0;
        padding: 7px 5px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid #ECECEC;
            font-size: 17px;
            white-space: pre-wrap;

            a {
                color: rgba(0, 0, 0, 0.54);
                display: block;
                font-weight: bold;
                padding: 12px 5px;
            }
        }
    }
}

#search-input__modal-background {
    background: rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100vw;
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
}

.search-input__modal-active {
    z-index: 5;

    .search-input,
    .search-input__input,
    .search-input__icon,
    #autocomplete__container,
    form {
        z-index: 5;
    }
}
