@import 'base';

.official-store {
    padding: 18px 10px;
    background: transparent;
}

.official-store__link {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    width: 60px;
    height: 60px;
    background: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.official-store__cell {
    width: 60px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
}
