@import 'base';

.official-store {
    padding: 10px 10px 20px;
    background: transparent;
}

.official-store__item {
    padding: 2.5px;
}

.official-store__link {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    width: 70px;
    height: 70px;
    background: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.official-store__cell {
    width: 70px;
    height: 60px;
    vertical-align: middle;
    text-align: center;
}
