@import 'base';

.search-input {
    position: relative;
}

.search-input__input {
    padding: 0 60px 0 6px;
    width: 100%;
    height: 38px;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: $color-black-secondary;
    text-align: left;
    font-size: 14px;

    &:focus {
        color: $color-green;
    }
}

.search-input__icon {
    position: absolute;
    top: 12px;
    left: 10px;
    display: block;
    width: 15px;
    height: 15px;
    background: url('./assets/search-input-icon@2x.png') transparent no-repeat;
    background-size: 16px 16px;
}

.search-input__cancel {
    position: absolute;
    top: 9px;
    right: 40px;
    width: 20px;
    height: 20px;
    border: 0;
    background: url('./assets/search-input-clear@2x.png') transparent no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    text-indent: -99999px;
    font-size: 0;
    cursor: pointer;
}

.search-input__btn {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 20.5px;
    height: 20px;
    border: 0;
    background: url('./assets/header-magnifier-orange.png') transparent no-repeat;
    background-position: center center;
    background-size: 20.5px 20px;
    text-indent: -99999px;
    font-size: 0;

    &.focus {
        background-image: url('./assets/header-magnifier-green.png');
    }
}
