// Base color
$color-green: #42B549;
$color-orange: #FF5722;
$color-black: #000;
$color-white-darker: #F1F1F1;
$color-white-darker-f9: #F9F9F9;
$color-white: #FFF;
$color-yellow: #FFB200;

// Gray color
$color-brownish-grey: #666;
$color-grey: #EBEBEB;
$color-grey-2: #4D4D4D;
$color-grey-3: #9E9E9E;
