// Base color
$color-green: #42B549;
$color-orange: #FF5722;
$color-yellow: #FFB200;
$color-tint: #FAFDCD;
$color-grey: #EFEFEF;
$color-red: #E94F4F;

// Material color
$color-black-primary: rgba(0, 0, 0, 0.87);
$color-black-secondary: rgba(0, 0, 0, 0.7);
$color-black-disabled: rgba(0, 0, 0, 0.54);

$color-grey-0: rgba(0, 0, 0, 0.025);
$color-grey-1: rgba(0, 0, 0, 0.05);
$color-grey-2: rgba(0, 0, 0, 0.1);
$color-grey-3: rgba(0, 0, 0, 0.2);
$color-grey-4: rgba(248, 248, 248, 1);

$color-white-primary: rgba(255, 255, 255, 1);
$color-white-secondary: rgba(255, 255, 255, 0.7);
$color-white-disabled: rgba(255, 255, 255, 0.5);

$color-grey-disabled: rgba(0, 0, 0, 0.12);
$color-grey-disabled-2: rgba(0, 0, 0, 0.26);
