@import 'base';

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid $color-grey;
    background-color: $color-white-darker-f9;
}

.bottom-nav__grid {
    width: 25%;
}

.bottom-nav__link {
    display: block;
    padding: 8px;

    span {
        display: block;
        color: $color-brownish-grey;
        font-size: 11px;
    }

    &.route--active span {
        color: $color-green;
    }
}

.bottom-nav__icon {
    display: block;
    width: 22px;
    height: 22px;
    margin: 0 auto 3px;
    background-position: center center;

    &--home {
        background: url('./assets/bottom-nav-icon-home@2x.png') transparent no-repeat;
        background-size: 22px 22px;

        .route--active & {
            background-image: url('./assets/bottom-nav-icon-home-active@2x.png');
        }
    }

    &--hotlist {
        background: url('./assets/bottom-nav-icon-hotlist@2x.png') transparent no-repeat;
        background-size: 20px 22px;

        .route--active & {
            background-image: url('./assets/bottom-nav-icon-hotlist-active@2x.png');
        }
    }

    &--wishlist {
        background: url('./assets/bottom-nav-icon-wishlist@2x.png') transparent no-repeat;
        background-size: 22px 20px;

        .route--active & {
            background-image: url('./assets/bottom-nav-icon-wishlist-active@2x.png');
        }
    }

    &--notifikasi {
        background: url('./assets/bottom-nav-icon-notifikasi@2x.png') transparent no-repeat;
        background-size: 20px 22px;

        .route--active & {
            background-image: url('./assets/bottom-nav-icon-notifikasi-active@2x.png');
        }
    }

    &--masuk {
        background: url('./assets/bottom-nav-icon-masuk@2x.png') transparent no-repeat;
        background-size: 22px 22px;

        .route--active & {
            background-image: url('./assets/bottom-nav-icon-masuk@2x.png');
        }
    }
}
