@import 'base';

.hotlist-showall {
    position: relative;
    color: $color-green;
    text-align: center;
    font-size: 14px;
    padding: 8px 0 24px;

    .more-info__arrow {
        top: 6px;
        right: 88px;
    }
}

.link-green {
    color: $color-green;
}

.breadcrumb {
    margin-bottom: 15px;
}

.pagination {
    ul {
        display: inline-block;
        padding: 0;
        box-shadow: 0 1px 2px $color-grey-1;
        list-style: none;
    }

    li {
        display: inline;
    }

    a {
        float: left;
        padding: 0 14px;
        border: 1px solid #DDD;
        border-left-width: 0;
        background-color: $color-white-primary;
        color: $color-grey-3;
        text-decoration: none;
        line-height: 34px;
    }

    li:first-child a {
        border-left-width: 1px;
        border-radius: 3px 0 0 3px;
    }

    li:last-child a {
        border-radius: 0 3px 3px 0;
    }

    .active a {
        box-sizing: border-box;
        height: 36px;
        border-bottom: 4px solid $color-green;
        background-color: $color-white-primary;
        color: $color-black-disabled;
    }
}

