@import 'base';

.promo-spacer {
    position: relative;
    margin-bottom: 7px;
    width: 100%;
    height: 24px;
    color: $color-green;
    vertical-align: middle;
    text-align: right;
    line-height: 1;
}

.promo-spacer__link {
    z-index: $z-index-4;
    float: right;
    color: $color-green;
    text-decoration: none;
    font-size: 12px;
}

.promo-spacer__icon {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;

    &--percent {
        width: 22px;
        height: 22px;
        background: url('./assets/promo-spacer-icon-percent@2x.png') transparent no-repeat;
        background-size: 22px 22px;
    }

    &--arrow {
        width: 6px;
        height: 9px;
        background: url('./assets/promo-spacer-icon-arrow@2x.png') transparent no-repeat;
        background-size: 6px 9px;
    }
}
