@import 'base';

.carousel {
    margin: 10px auto;

    .slick-dots {
        bottom: -30px;
        z-index: $z-index-3;
        padding-left: 5px;
        max-width: 50%;
        text-align: left;

        li {
            width: 12px;
        }

        li button {
            padding: 0;
            width: 12px;
            cursor: pointer;
        }

        li button::before {
            width: 12px;
            color: $color-grey-3;
            font-size: 9px;
            opacity: 1;
        }

        li.slick-active button::before {
            color: $color-orange;
        }

        li {
            margin: 0;
        }
    }
}

.carousel__item {
    padding-bottom: 5px;

    img {
        display: block;
        border-radius: 2px;
        box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
}

.carousel__item-container {
    padding: 0 2.5px;
}
