@import "base";

.tab {
    position: relative;
    z-index: 1;
    background: $color-green;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.tab__link {
    display: block;
    width: 100%;
    border-bottom: 2px solid transparent;
    color: $color-white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 12px;
    line-height: 44px;
    opacity: 0.54;

    &.route--active {
        border-bottom: 2px solid $color-white;
        font-weight: 600;
        opacity: 1;
    }
}