@import 'base';

.footer {
    background-color: $color-grey-1;
}

.footer__apps {
    padding: 0 10px 10px;
    background-color: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.footer__apps-text {
    color: $color-black-secondary;
}

.footer__apps-img {
    width: 112px;
    height: 35px;
}

.footer__lower {
    padding: 10px;
    color: $color-black-secondary;

    a {
        color: $color-green;
        text-decoration: underline;
        font-weight: 600;
    }
}

.footer__select-language {
    display: inline-block;
    margin-left: 5px;
    padding-right: 15px;
    max-width: 90px;
    width: 100%;
    border: none;
    border-radius: 0;
    background: url('./assets/footer-chevron@2x.png') transparent center right no-repeat;
    background-size: 9px 6px;
    color: $color-green;
    text-decoration: underline;
    font-weight: 600;
    font-size: 14px;
    appearance: none;
}

.footer__lower-text--bigger {
    font-size: 14px;
}

.footer__lower-text--smaller {
    font-size: 11px;
}
