@import 'base';

.category-list__holder {
    margin-bottom: 10px;
    padding: 18px 10px 0;
    background: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.category-list__box {
    margin-bottom: 10px;
    border-bottom: 1px solid $color-grey-2;
}

.category-list__box:last-child {
    margin-bottom: 2px;
    border-bottom: none;
}

.category-list__content {
    position: relative;
    margin-bottom: 5px;
    padding: 3px 0;
    white-space: nowrap;
}

.category-list__content:nth-child(odd) {
    border-right: 1px solid $color-grey-2;
}

.category-list__content:nth-child(even) {
    padding-left: 10px;
}

.category-list__content a {
    display: block;
}

.category-list__content img {
    display: inline-block;
    margin-right: 8px;
    max-width: 100%;
    width: 24px;
    height: auto;
    vertical-align: middle;
}

.category-list__name {
    display: inline-block;
    color: $color-black-secondary;
    font-size: 11px;
    line-height: 27px;
}
