@import 'base';

.category-list__holder {
    background: #ffffff;
    border-bottom: 2px solid rgba(0,0,0,0.12);
    padding: 18px 10px 0;
    margin-bottom: 20px;
}

.category-list__title {
    margin-bottom: 20px;
    font-size: 14px;
}

.category-list__title > .category-list__title-line {
    width: 6%;
    height: 2px;
    background: #ff5722;
    margin-top: 10px;
}

.category-list__box {
    border-bottom: 1px solid rgba(0,0,0,0.12);
    margin-bottom: 10px;
}

.category-list__box:last-child {
    border-bottom: none;
    margin-bottom: 2px;
}

.category-list__box > .category-list__content {
    position: relative;
    // margin-bottom: 10px;
    padding: 3px 0;
    margin-bottom: 5px;
}

.category-list__box > .category-list__content:first-child {
    border-right: 1px solid rgba(0,0,0,0.12);
}

.category-list__box > .category-list__content:last-child {
    padding-left: 10px;
}

.category-list__content > img {
    vertical-align: middle;
    max-width: 100%;
    margin-right: 10px;
    width: 24px;
    heiht: auto;
}

.category-list__content > .category-list__name {
    font-size: 10px;
    color: rgba(0,0,0,0.5);
}
