@import 'base';

.category-list__holder {
    margin-bottom: 10px;
    padding: 18px 10px 0;
    background: $color-white-primary;
    box-shadow: 1px 1px 2px 0 $color-grey-2;
}

.category-list__box {
    margin-bottom: 10px;
    border-bottom: 1px solid $color-grey-2;
}

.category-list__box:last-child {
    margin-bottom: 2px;
    border-bottom: none;
}

.category-list__content {
    position: relative;
    overflow-x: hidden;
    margin-bottom: 5px;
    padding: 3px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category-list__content:nth-child(odd) {
    border-right: 1px solid $color-grey-2;
}

.category-list__content:nth-child(even) {
    padding-left: 10px;
}

.category-list__content {
    .category-list__content-image,
    .category-list__content-link {
        display: inline-block;
    }

    .category-list__content-image {
        margin-right: 8px;
        width: 35px;
        text-align: center;

        img {
            display: inline-block;
            max-width: 100%;
            width: auto;
            height: 24px;
            vertical-align: middle;
        }
    }

    a {
        display: block;
    }
}

.category-list__name {
    display: inline-block;
    color: $color-black-secondary;
    font-size: 11px;
    line-height: 27px;
}
