@import 'base';

.text-header {
    margin-bottom: 14px;
    color: $color-black-primary;
    font-size: 14px;
}

.text-header::after {
    display: block;
    margin-top: 10px;
    width: 6%;
    height: 2px;
    background: $color-orange;
    content: '';
}

