@import 'base';

.text-header {
    margin: 0 0 14px;
    color: $color-black-primary;
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}

.text-header::after {
    display: block;
    margin-top: 10px;
    width: 20px;
    height: 2px;
    background-color: $color-orange;
    content: '';
}

